<%- include('../../layouts/admin/dashboardheader') %>


 <div class="container-fluid">   
    <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>
    <form>
        profile
    </form>
</div>

<%- include('../../layouts/admin/dashboardfooter') %>