<%- include('../../layouts/admin/dashboardheader') %>


 <div class="container-fluid">   
    <h1 class="h3 mb-4 text-gray-800">View Category</h1>
    <form>
        <div class="form-group">           
            <div>Category: <%= catDetails.name %> </div>                
        </div>
    </form>
</div>

<%- include('../../layouts/admin/dashboardfooter') %>